<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>House Selling</title>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">
      <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDppW8JxwhTTMvfpxgDUR036Ht8B8OAiSc"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>
    <style type="text/css">
      .map {
        width: 100%;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="ui blue inverted menu">
        <div class="ui container">
          <a href="#" class="header item">
            <i class="building icon"></i>
            Real Estate
          </a>
          <div class="right menu">
            <div class="item">
              <button class="ui item inverted float right" type="button" name="button" v-on:click="modalCreate()">Sell Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="ui modal" id="modalCreate">
        <i class="close icon"></i>
        <div class="header">
          Data Houses
        </div>
        <div class="content">
          <form class="ui form">
            <div class="field">
              <label>Title</label>
              <input name="title" placeholder="Title" type="text" v-model="houseCreate.title">
            </div>
            <div class="field">
              <label>Price</label>
              <input name="price" placeholder="Price" type="text" v-model="houseCreate.price">
            </div>
            <div class="field">
              <label>Details</label>
              <textarea name="detail" placeholder="Details" v-model="houseCreate.detail"></textarea>
            </div>
            <div class="field">
              <label>Image URL</label>
              <input name="image" placeholder="Link Image" type="text" v-model="houseCreate.image">
            </div>
            <div class="map" id="createMap"></div>
            <div class="actions">
              <div class="ui buttons">
                <button class="ui black deny button">Cancel</button>
                <div class="or"></div>
                <button class="ui positive button" v-on:click="createHouse()">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="ui small modal" id="modalMap">
        <div class="ui icon header">
          <i class="map sign icon"></i>
          Location Details
        </div>
        <div class="content">
          <div class="map" id="mapDetail"></div>
        </div>
      </div>
      <div class="ui modal" id="modalEdit">
        <i class="close icon"></i>
        <div class="header">
          Edit Details
        </div>
        <div class="content">
          <form class="ui form">
            <div class="field">
              <label>Title</label>
              <input name="title" placeholder="Title" type="text" v-model="houseEdit.title">
            </div>
            <div class="field">
              <label>Price</label>
              <input name="price" placeholder="Price" type="text" v-model="houseEdit.price">
            </div>
            <div class="field">
              <label>Details</label>
              <textarea name="detail" placeholder="Details" v-model="houseEdit.detail"></textarea>
            </div>
            <div class="field">
              <label>Image URL</label>
              <input name="image" placeholder="Link Image" type="text" v-model="houseEdit.image">
            </div>
            <div class="map" id="mapEdit"></div>
            <div class="actions">
              <div class="ui buttons">
                <button class="ui black deny button">Cancel</button>
                <div class="or"></div>
                <button class="ui positive button">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
      <div class="ui grid container">
        <div class="four wide column"></div>
        <div class="ui divided items">
          <div v-for="house in houses" class="item" v-bind:id="house._id">
            <div class="image">
              <img v-bind:src="house.image">
            </div>
            <div class="content">
              <a class="header">{{house.title}}</a>
              <div class="description">
                <p>PRICE: {{house.price}}</p>
                <p>DETAILS: {{house.detail}}</p>
                <p>SELL SINCE: {{house.createdAt}}</p>
              </div>
              <div class="extra">
                <button class="ui green button" v-on:click="modalMap(house.latitude, house.longitude)"><i class="icon map"></i>Map</button>
                <button class="ui blue button medium" v-on:click="modalEdit(house._id, house.title, house.price, house.detail, house.image, house.latitude, house.longitude)" name="edit"><i class="icon edit"></i>Edit</button>
                <button class="ui negative button medium" v-on:click="deleteHouse(house._id)"><i class="icon trash"></i>Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/vue.js"></script>
    <script src="assets/index.js"></script>
  </body>
</html>
